---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! …
const posts = await Astro.glob('./posts/*.{md,mdx}');
---

<Layout title="Home">
  <section class="container">
    <h1>Astrosyo</h1>
    <img
      src="/images/home_cover.jpeg"
      alt="cover"
      width="800"
      height="400" 
    />
    <ul class="post-list">
      {posts.map(({ frontmatter, url }) => (
        <li class="post-item">
          <a href={url}>
            <h2>{frontmatter.title}</h2>
            <time datetime={frontmatter.pubDate}>{frontmatter.pubDate}</time>
            <p>{frontmatter.description}</p>
          </a>
        </li>
      ))}
    </ul>
  </section>
</Layout>