---
import Layout from '../layouts/Layout.astro';
import '../styles/index.css';
import { site } from '../config/site.js';

// 1. Grab *all* your posts
const allPosts = await Astro.glob('./posts/*.{md,mdx}', { eager: true });

// 2. Sort descending by `pubDate` (newest first)
allPosts.sort(
  (a, b) => new Date(b.frontmatter.pubDate) - new Date(a.frontmatter.pubDate)
);

// 3. Take only the first 4 items
const posts = allPosts.slice(0, 4);
---

<Layout title="Home">
  <section class="container centered_flex">
    <img
      src="/images/home/cover.webp"
      alt="cover"
      width="30%"
      class="home-cover-image"
    />

    <div class="post-list">
      {posts.map(({ frontmatter, url }) => (
        <a href={url} class="post_link">
          <div class="post-link-title">{frontmatter.title}</div>
          <!-- <p class="description">{frontmatter.description}</p> -->
          <p class="post-link-writer">{frontmatter.writer}</p>
          <time datetime={frontmatter.puwDate}>
            {new Date(frontmatter.pubDate).toLocaleDateString()}
          </time>
        </a>
      ))}
    </div>
  </section>
</Layout>