---

import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
const posts = await Astro.glob('./posts/*.md');
---

<Layout title="Home">
  <section class="container">
    <h1>Latest Posts</h1>
    <ul class="post-list">
      {posts.map(({ frontmatter, url }) => (
        <li class="post-item">
          <a href={url}>
            <h2>{frontmatter.title}</h2>
            <time datetime={frontmatter.pubDate}>{frontmatter.pubDate}</time>
            <p>{frontmatter.description}</p>
          </a>
        </li>
      ))}
    </ul>
  </section>
</Layout>
