---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import '../styles/index.css';    // ← import your page-only CSS
import { site } from '../config/site.js';
// Welcome to Astro! …
const posts = await Astro.glob('./posts/*.{md,mdx}');
---

<Layout title="Home">
  <section class="container centered_flex">
    <h1>{site.name}</h1>
    <img
      src="/images/home_cover.jpeg"
      alt="cover"
	  width="60%"
    />
    <ul class="post-list">
      {posts.map(({ frontmatter, url }) => (
        <li class="post-item">
          <a href={url}>
            <h2>{frontmatter.title}</h2>
            <time datetime={frontmatter.pubDate}>{frontmatter.pubDate}</time>
            <p>{frontmatter.description}</p>
          </a>
        </li>
      ))}
    </ul>
  </section>
</Layout>