---
import Layout from './Layout.astro';
import '../styles/infoPost.css';  // ← pulls in your global styles
import SocialShare from '../components/SocialShare.astro';

const {
  title,
  description,
  writer,
  rating: { overall: ratingValue } = {},
  pubDate,
  url,
  cover_image,
} = Astro.props.frontmatter;


---

<head>
  <title>{title}</title>
  <meta name="description" content={description} />
  <link
    rel="preload"
    as="image"
    href={cover_image}
  />
</head>

<Layout title={title}>
  <article class="post container centered_flex">
        <img
      src={cover_image}
      class="post-starter-image"
      alt={title + ' cover'}
      fetchpriority="high"
      loading="eager"       
      decoding="async"      
    />

    <h1>{title}</h1>
    <p class="review-description">{description}</p>
    <p class="writer">Written by {writer}</p>
    <SocialShare frontmatter={Astro.props.frontmatter} url={url} client:load />
    <slot />

    
  </article>
</Layout>