---
import '../styles/global.css';  // ← pulls in your global styles
import '../styles/nav.css';
import '../styles/footer.css';
/* In your layout head */

import { site } from '../config/site.js';
const site_description = site.description;
const { title, category } = Astro.props;
import NavScript from '../components/NavScript.astro';
import SiteFooter from '../components/SiteFooter.astro';
import Header from '../components/Header.astro';

const pathname = Astro.url.pathname;
const isTr = pathname.startsWith('/tr');
const lang = isTr ? 'tr' : 'en';

const orgJsonLd = {
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": "Astrosyo",
  "url": "https://astrosyo.com",
  "potentialAction": {
    "@type": "SearchAction",
    "target": "https://astrosyo.com/search?q={search_term_string}",
    "query-input": "required name=search_term_string"
  }
}
function slugify(str) {
  return str.toLowerCase().replace(/\s+/g, '-').replace(/[^a-z0-9\-]/g, '');
}

const bodyClasses = [
  title ? `page-${slugify(title)}` : '',
  category ? `category-${category.toLowerCase()}` : '',
]
  .filter(Boolean)
  .join(' ');
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
    <meta property="og:description" content={site_description} />
		<title>Astrosyo</title>
    <script type="application/ld+json" set:html={JSON.stringify(orgJsonLd)} />
    <script
      defer
      src="https://cloud.umami.is/script.js"
      data-website-id="7f187073-b57a-4268-9c53-94c815af943f"
      data-host-url="https://cloud.umami.is"
    >
    </script>	
</head>
	  <body class={bodyClasses}>
      <Header lang={lang} />
    <main>
      <slot />
    </main>
      <NavScript />
	</body>
    <SiteFooter lang={lang} currentPath={pathname} />
</html>
