---
import Layout from './Layout.astro';
import '../styles/infoPost.css';  // ← pulls in your global styles
import '../styles/p5Global.css';  // ← pulls in your global styles
import SocialShare from '../components/SocialShare.astro';

const {
  title,
  description,
  writer,
  pubDate,
  url,
} = Astro.props.frontmatter;


---

<head>
  <title>{title}</title>
  <meta name="description" content={description} />

</head>

<Layout title={title}>
  <article class="post p5-post centered_flex">

    <h1 class="p5-article-title">{title}</h1>
    <p class="p5-description">{description}</p>
    <p class="writer">Written by {writer}</p>
    <SocialShare frontmatter={Astro.props.frontmatter} url={url} client:load />
    <slot />

    
  </article>
</Layout>