---
import Layout from './Layout.astro';
import '../styles/infoPost.css';  // ← pulls in your global styles
import '../styles/postsGlobal.css';  // ← pulls in your global styles
import '../styles/simGlobal.css';  // ← pulls in your global styles
import SocialShare from '../components/SocialShare.astro';
import FeedbackCTA from '../components/FeedbackCTA.astro';

const {
  title,
  description,
  writer,
  pubDate,
  url,
} = Astro.props.frontmatter;


---

<head>
  <title>{title}</title>
  <meta name="description" content={description} />
    <script type="importmap">
      {
        "imports": {
          "three": "https://cdn.jsdelivr.net/npm/three@0.161/build/three.module.js",
          "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.161/examples/jsm/"
        }
      }
    </script>
</head>

<Layout title={title}>
  <article class="post sim-post centered_flex">

    <h1 class="sim-article-title">{title}</h1>

    <p class="post-description">{description}</p>
    {writer && (
      <p class="writer">Created by {writer}</p>
    )}
    
    <SocialShare frontmatter={Astro.props.frontmatter} url={url} client:load />
    <slot />
  </article>
  <FeedbackCTA />
</Layout>
